@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 216 63% 97%;
    --foreground: 229 63% 4%;
    --muted: 229 12% 86%;
    --muted-foreground: 229 10% 37%;
    --popover: 0 0% 99%;
    --popover-foreground: 229 63% 3%;
    --card: 189 100% 99%;
    --card-foreground: 229 63% 3%;
    --border: 220 0% 100%;
    --input: 220 13% 91%;
    --primary: 229 100% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 229 20% 90%;
    --secondary-foreground: 229 20% 30%;
    --accent: 229 28% 85%;
    --accent-foreground: 229 28% 25%;
    --destructive: 3 100% 50%;
    --destructive-foreground: 3 0% 100%;
    --ring: 229 100% 62%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 3.7% 15.88%;
    --foreground: 229 23% 99%;
    --muted: 240 5.88% 10%;
    --muted-foreground: 229 10% 63%;
    --popover: 240 5.88% 10%;
    --popover-foreground: 0 0% 100%;
    --card: 255 4% 19%;
    --card-foreground: 0 0% 100%;
    --border: 0 0% 100%;
    --input: 215 0% 23.85%;
    --primary: 199 64% 73%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 98.04%;
    --secondary-foreground: 229 0% 0%;
    --accent: 240 3.7% 19.88%;
    --accent-foreground: 0 0% 100%;
    --destructive: 358.16 68.78% 53.53%;
    --destructive-foreground: 0 0% 100%;
    --ring: 205 84% 95%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}